<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="at.descher.eclipse.bug397677"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/at.descher.eclipse.bug397677/css/default.css">
         </property>
         <property
               name="appName"
               value="at.descher.eclipse.bug397677">
         </property>
      </product>
   </extension>

</plugin>
